<%= form.fields_for :event do |fevent| %>
<div class="form-group">
    <%= fevent.label :name, 'Nome' %>
    <%= fevent.text_field :name, id: :event_name, class: 'fevent.control' %>
</div>

<div class="form-group">
    <%= fevent.label :date, 'Data' %>
    <%= fevent.text_field :date, id: :event_date, class: 'fevent.control' %>
</div>

<div class="form-group">
    <%= fevent.label :city, 'Cidade' %>
    <%= fevent.text_field :city, id: :event_city, class: 'fevent.control' %>
</div>

<div class="form-group">
    <%= fevent.label :state, 'Estado' %>
    <%= fevent.text_field :state, id: :event_state, class: 'fevent.control' %>
</div>

<div class="form-group">
    <%= fevent.label :country, 'País' %>
    <%= fevent.text_field :country, id: :event_country, class: 'fevent.control' %>
</div>

<div class="form-group">
    <%= fevent.label :image, 'Imagem (url completa)' %>
    <%= fevent.text_field :image, id: :event_image, class: 'fevent.control' %>
</div>
<% end %>

