<%= stylesheet_link_tag 'events', media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>

<div class="row">
    <% @events.each do |event| %>
      <div class="col-lg-3 col-md-4 col-sm-6 events-item">
        <div class="card h-100">
          <%= link_to(event) do %>
            <%= image_tag(event.image) %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= link_to event.name, event %></h4>
          </div>
          <p class="card-text">
            <%= event.date %> em <%= event.city %>/<%= event.state %> (<%= event.country %>)
          </p>
        </div>
      </div>
    <% end %>
</div>

