<%= stylesheet_link_tag 'events', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if notice %>
<span id="notice" class="alert alert-info"><%= notice %></span>
<% end %>

<div class='event-header' style='background-image: url(<%= @event.image %>)'>
  <h1><%= @event.name %></h1>
  <small><%= @event.date %></small><br/>
  <small><%= @event.city %>/<%= @event.state %> (<%= @event.country %>)</small>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ingresso</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Valor unitário</th>
      <th scope="col">Email</th>
      <th scope="col">Perfis</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.description %></td>
        <td><%= ticket.quantity %></td>
        <td><%= ticket.value %></td>
        <td><%= ticket.email %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

